test --test_output=errors

# Opt-in to breaking change for runfiles layout, where Bazel will eventually stop providing
# an external directory inside of our workspace like
# `runfiles_root/my_proj/external/npm/node_modules`
# This ensures we are forwards compatible.
# See https://docs.bazel.build/versions/master/command-line-reference.html#flag--legacy_external_runfiles
test --nolegacy_external_runfiles
run --nolegacy_external_runfiles

# Enable debugging tests with --config=debug
test:debug --test_arg=--node_options=--inspect-brk --test_output=streamed --test_strategy=exclusive --test_timeout=9999 --nocache_test_results

# Workaround https://github.com/bazelbuild/bazel/issues/3645
# Bazel doesn't calculate the memory ceiling correctly when running under Docker.
build:ci --local_resources=3072,2.0,1.0

build:ci --noshow_progress

# Save downloaded repositories in a location that can be cached by CircleCI. This helps us
# speeding up the Bazel analysis time for CI jobs.
build:ci --experimental_repository_cache=/home/circleci/bazel_repository_cache

# Prevent TS worker from trying to expand the `includes` section in tsconfig.json.
# It would find the "test/*.ts" reference when compiling //src:src, and the FileCache will then error
# when TS attempts to read one of these files that doesn't belong in the compilation.
build --worker_sandboxing
