# Dependency directory
node_modules

# WebStorm/IntelliJ directory
.idea

# VSCode directory
.vscode

# Bazel working directories
/bazel-*

# See reference to this file in the README.md
yarn_install.sh

# Created by bazel run :npm_package.pack
tsickle-*.tgz
